/* Custom Stylesheet */
body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.table-options button{
	margin-left:5px;
}

.page-header h1{
	display: inline-block!important;
}
.page-header button{
	display: inline-block!important;
	float:right;
	margin:25px 0 0 5px;
}
button span{
	margin-right: 5px;
}

.github-area a, img{
	display:inline:block;
}

.github-area img{
	float:right;
	margin-top:10px;
}